/* nav */
.nav-link {
    color: blue;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: blueviolet;
}

.nav-link:active {
    color: green;
}

/* single item carousel */
.carousel-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}