/* nav */
.nav-link {
    color: blue;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: blueviolet;
}

.nav-link:active {
    color: green;
}

/* single item carousel */
.carousel-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

/* artist spotlight section*/
.extra-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.card:hover .extra-info {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.card:hover .extra-info {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
